.container {
	background: #000;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	height: 400px;
	overflow: hidden;
}

.container > .title {
	text-align: center;
	font-size: 20px;
	color: #aa2712;
}
